body {
    background-image: url("FSociety.jpg");
    background-attachment: fixed; /* imagem não rola com a tela*/
    background-size: 100%; /* ajusta ao tamanho da janela */
    font-family: 'Times New Roman', Times, serif;
}
#quadro{
    background-color:rgba(206, 197, 197, 0.5);
    color:black;
    display: block;   
    width: 80%;
    height: 10%;
    border-radius: 10px; /*borda redonda*/
    text-align: center;
    margin: 0 auto 0 auto;
}
.blocos{
    display: inline-block;
    width: 40%;
}