body {
    background-image: url("FSociety.jpg");
    background-attachment: fixed; /* imagem não rola com a tela*/
    background-size: 100%; /* ajusta ao tamanho da janela */
    font-family: "Times New Roman", Times, serif;
}
#root{
    background-color:rgba(206, 197, 197, 0.5); /*rgba permite deixar o fundo
    transparente sem interferência na letra*/
    color:black;
    width: 80%; /* quanto ocupa da tela*/
    border-radius: 10px; /*borda redonda*/
    text-align: center;
    margin: 0 auto 0 auto; /*centralizar bloco*/
}
.presentation{
    background-color: rgba(7, 7, 7, 0.5);  
    color: white;
}
.container{
    display: inline-block; /* permite q os blocos fiquem lado a lado*/
    width: 40%;
    margin: 18px; /*espaço de um box para o outro*/
}
.title{
    background-color: rgba(44, 41, 41, 0.5);
    border-radius: 5px;
}
#link{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.message{
    background-color: rgba(44, 41, 41, 0.5);
    border-radius: 5px;
    font-size: 20px;
}
.box{
    padding: 5px; 
    margin: 0 auto 0 auto; 
    border: 1px solid black; /*borda na caixa*/
    border-radius: 5px ;
    display: block; /* desgrudar a caixa da mensagem do input*/
}
.input{
    display: inline-block; 
}